<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Adicionar Sorvete</title>
</head>
<body>
  <h1>Adicionar Sorvete</h1>
  <form action="{{ url_for('sorvete.adicionar_sorvetes') }}" method="post">
    <label for="categoria_id">Categoria:</label><br>
    <select id="categoria_nome" name="categoria_nome" required>
      {% for categoria in categorias %}
      <option value="{{ categoria.nome }}">{{ categoria.nome }}</option>
      {% endfor %}
    </select><br>
    
    <label for="sabor">Sabor:</label><br>
    <input type="text" id="sabor" name="sabor" required><br>
    
    <label for="preco">Preço (R$):</label><br>
    <input type="number" id="preco" name="preco" step="0.01" min="0" required><br>

    <label for="qtd">Quantidade:</label><br>
    <input type="number" id="qtd" name="qtd" min="1" required><br>

    <input type="submit" value="Adicionar Sorvete">
  </form>
</body>
</html>
