<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Detalhes do Sorvete</title>
</head>

<body>
  <h1>Detalhes do Sorvete</h1>
  <p><strong>ID:</strong> {{ sorvete.id }}</p>
  <p><strong>Sabor:</strong> {{ sorvete.sabor }}</p>
  <p><strong>Preço:</strong> {{ sorvete.preco }}</p>
  <p><strong>Quantidade:</strong> {{ sorvete.qtd }}</p>

  <a href="{{ url_for('sorvete.get_sorvetes') }}">Voltar para a lista de sorvetes</a>

</body>

</html>
