<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Atualizar Sorvete</title>
</head>
<body>
<h1>Atualizar Sorvete</h1>
<form action="{{ url_for('sorvete.editar_sorvete', id_sorvete=sorvete.id) }}" method="POST">
    <label for="sabor">Sabor:</label>
    <input type="text" id="sabor" name="sabor" value="{{ sorvete.sabor }}"><br>
    <label for="categoria_id">Categoria:</label>
    <select id="categoria_id" name="categoria_id" required>
        {% for categoria in categorias %}
        <option value="{{ categoria.id }}" {% if categoria.id == sorvete.categoria_id %}selected{% endif %}>{{ categoria.nome }}</option>
        {% endfor %}
    </select><br>
    <label for="preco">Preço (R$):</label>
    <input type="text" id="preco" name="preco" value="{{ sorvete.preco }}"><br>
    <label for="quantidade_estoque">Quantidade em Estoque:</label>
    <input type="text" id="quantidade_estoque" name="quantidade_estoque" value="{{ sorvete.quantidade_estoque }}"><br>
    <button type="submit">Atualizar</button>
</form>
</body>
</html>
